*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    user-select: none;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#2f2f2f, #121212);
}

canvas {
    position: fixed;
}
