@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}
body {
    width: 100%;
    min-height: 100vh;
    padding: 5vh 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background: radial-gradient(hsl(200, 10%, 10%), hsl(205, 10%, 2%)); */
    transition: 0.5s ease;
    overflow: hidden;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    /* cursor: none; */
}
#canvas-player, #canvas-particles {
    z-index: 9999;
}
#canvas-mouse {
    z-index: 999;
}

.options {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 2vh;
    left: 2vh;
    border: 2px dotted white;
    border-radius: 10px;
    background: hsla(200, 10%, 30%, 0.6);
    filter: opacity(0.2);
    cursor: pointer;
    overflow: hidden;
    z-index: 99999;
    transition: 0.2s ease;
}

.options:hover {
    width: 175px;
    height: 240px;
    border: 2px dotted white;
    filter: opacity(0.9);
    transition: 0.3s ease, border 0.1s ease;
}

.options-icon-wrapper {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    filter: opacity(1);
    transition: 0.1s ease 0.1s;
}
.options:hover .options-icon-wrapper {
    filter: opacity(0);
    transition: 0.2s ease;
}

.options:hover .form-row,
.options:hover  label,
.options:hover input,
.options:hover .controls-title,
.options:hover .controls-list,
.options:hover .controls-list-item {
    filter: opacity(1);
    transition: 0.4s ease 0.1s;
}

.form-row {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    filter: opacity(0);
}

label {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: uppercase;
    align-self: flex-start;
    color: white;
    cursor: pointer;
}

input {
    margin: 0.1em 0 0.8em;
    width: 100%;
    cursor: pointer;
    z-index: 99999;
}

.controls-title {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    text-decoration: underline 1px solid;
}

.controls-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    list-style:  none;
    line-height: 1.2em;
}
.controls-list-item {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}

.text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 3em;
    z-index: 99;
}
.seneca-text,
.name-text {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: -0.01em;
    text-shadow: 0px 1px 2px black;
}

.name {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: -0.02em;
    color: hsl(48, 100%, 50%);
}
