@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', cursive; */

:root {
    --sky-blue-dark: hsl(206, 100%, 36%);
    --sky-blue-light: hsl(203, 96%, 90%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: radial-gradient(100% 85% at 50% 100%, var(--sky-blue-light), var(--sky-blue-dark));
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    /* filter: blur(0px); */
}

.reset {
    position: fixed;
    bottom: 4vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    opacity: 0.5;
    animation: flash 3s ease infinite forwards;
}

@keyframes flash {
    0% {
        opacity: 0.5;
    }
    10% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.01;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.5;
    }
}
